/* Text */

.text-center {
    text-align: center;
}


.heading-small {
    font-size: 1.25rem;
}


.heading-medium {
    font-size: 1.5rem;
}


.heading-big {
    font-size: 1.75rem;
}

.design {
    text-align: center;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 1vh 0;
    /* Dikey boşluk cihaz yüksekliğine göre ayarlanır */
    padding: 0 5vw;
    /* Yatay boşluk ekran genişliğine göre */
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    /* clamp(minimum, ideal, maksimum) */
}


.underline {
    width: 10%;
    /* Ekranın %10'u kadar genişlik */
    max-width: 80px;
    /* Ama çok büyümesin diye sınır koy */
    height: 4px;
    background-color: #0000ff;
    margin: 0 auto;
    margin-top: 8px;
    border-radius: 2px;
}


/* Colors */

.bg-dark {
    background-color: black;
}

.bg-light-gray {
    background: rgb(222, 222, 222);
}


/* Buttons */

.btn {
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 0.5px;
}

.btn-primary {
    background-color: black;
}

.btn-primary:hover {
    background-color: rgb(239, 239, 239);
    color: black;
    font-weight: bold;
    border: 0.5px solid gray;
}


.btn-block {
    width: 100%;
    text-align: center;
}

/* Container */
.container {
    max-width: 1100px;
    margin: 0 auto;
}